
/* hero section start */
.hero{
    background: linear-gradient(180deg, #2D468D 0%, #111931 100%);
    height: 768px;
}
.hero_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #B2D3EF;
    padding: 0 40px 0 70px;
}
.hero_left button{
    width: 160px;
    height: 50px;
    background: #FF8F2F;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}
.hero_left p:first-child{
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 50px;
}
.hero_left p:nth-child(2){
    padding-bottom: 80px;
    font-size: 22px;
    line-height: 40px;
}
.hero_right img{
    width: 586px;
}


/* pain section start */
.pain{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2D468D;
}
.pain_title{
    max-width: 590px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 35px;
    font-size: 20px;
}
.pain_content{
    max-width: 590px;
    margin-top: 40px;
    font-size: 16px;
}
.pain_video{
    position: relative;
    z-index: -1;
}
.pain_video .pain_video_back{
    width: 744px;
}
.pain_play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pain button{
    width: 160px;
    height: 50px;
    background: #FF8F2F;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
    margin: 60px 0 72px 0;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}
/* pain section end */

/* programs section start */
.programs{
    background: #F8F8F8;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    color: #2D468D;
}
.programs_content{
    padding: 0 64px;
}
.programs_title{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 50px 0 80px 0;
    margin: 0;
}
.program_title{
    font-size: 20px;
    line-height: 35px;
}
.program_img{
    position: relative;
    width: 50%;
}
.program_img img{
    width: 100%;
}
.program_link{
    display: none;
    position: absolute;
    font-size: 24px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.program_text{
    font-size: 16px;
    line-height: 35px;
    margin: 19px 0 40px 0;
}
.program_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 60px;
}
.program_1_right{
    padding-left: 75px;
    width: 50%;
    margin: auto;
}
.program_1 button{
    width: 160px;
    height: 50px;
    background: #FF8F2F;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    border: none;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}
.program_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 60px;
}
.program_2_left{
    max-width: 382px;
    margin: auto 0;
}
.program_2 button{
    width: 160px;
    height: 50px;
    color: #5A95CB;
    background: #B2D4EF;
    border-radius: 5px;
    border: none;
}
.program_3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 71px;
}
.program_3_right{
    padding-left: 75px;
    width: 50%;
    margin: auto;
}
.program_3 button{
    width: 160px;
    height: 50px;
    color: #5A95CB;
    background: #B2D4EF;
    border-radius: 5px;
    border: none;
}
/* programs section end */

/* region section start */
.region{
    background: #fff;
    color: #2D468D;
    margin-bottom: 87px;
}
.region_title{
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin-top: 32px;
}
.region_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 65px;
}
.region_desk img{
    transition: 0.5s;
}
.region_tal img{
    transition: 0.5s;
}
.region_right{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
.region_right section{
    margin-top: 23px;
}
.region_right ul{
    margin-top: 23px;
    color: #2D468D;
}
.region_right ul::-webkit-scrollbar
{
	width: 10px;
}
.styled-select .selected{
    color:#2D468D;
}
.region_right ul::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	background-color: #FF8F2F;
    border-right: none;
    border-left: none;
}

.region_right ul::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px; 
}

.region_right ul::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 20px;
}
/* selectbox wrapper */
.styled-select {
    border-radius: 5px;
    border:1px solid #ccc;
    background-color:white;
    display:inline-block;
    margin:0 2px;
    height:56px;
    width: 230px;
    color:rgba(45, 70, 141, 0.5);;
    position:relative;
}

.styled-select,
.styled-select .curr {padding:0 20px 0 10px}    

/* select element inside the custom selectbox */
.styled-select select {
    padding:0 0;
    margin:0 0;
    height:0;
    visibility:hidden;
}

/* selectbox button (current value holder) */
.styled-select .curr {
    z-index: 100;
    display:block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    cursor:pointer;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 25px rgba(45, 70, 141, 0.25), 4px 0px 25px rgba(45, 70, 141, 0.25);
}

/* arrow down */
.styled-select .curr:after {
    content:"";
    display:block;
    width:0;
    height:0;
    background-image: url('../images/keyboard.png');
    position:absolute;
    top: 11px;
    width: 10%;
    right: 8px;
    height: 53%;
    display: flex;
    align-items: center;
}

.styled-select .curr.selected:after {
    background-image: url('../images/keyboard_1.png');
}

/* drop down menu (fake option list) */
.styled-select ul {
    border: 1px solid rgba(45, 70, 141, 0.3);
    border-radius: 5px;
    background-color:#F8F8F8;
    text-align: left;
    margin:0 0;
    padding:0 0;
    position:absolute;
    top:90%;
    right:-1px;
    left:-1px;
    z-index:99;
    -webkit-box-shadow:0 1px 4px -2px rgba(0,0,0,.4);
    -moz-box-shadow:0 1px 4px -2px rgba(0,0,0,.4);
    box-shadow:0 1px 4px -2px rgba(0,0,0,.4);
}

/* option item (fake option item) */
.styled-select li {
    color: #2D468D;
    font-size: 16px;
    list-style:none;
    cursor:pointer;
    padding:20px 20px;
    margin:0 0;
}

.styled-select li:hover {
    background-color:#39f;
    color:white;
}

/* selected option */
.styled-select li.selected,
.styled-select li.selected:hover {
    background-color:#F8F8F8;
    color:black;
}

/* disabled option */
.styled-select li.disabled,
.styled-select li.disabled:hover {
    color:#bbb;
    font-style:italic;
    background:none;
    cursor:text;
}

/* focused selectbox */
.styled-select .curr.focused {
    background-color:#fff;
    border-radius: 5px;
}
.o-1, .o-2, .o-3, .o-4, .o-5, .o-6, .o-7, .o-8, .o-9{
    border-top:  0.5px solid rgba(45, 70, 141, 0.2);
}
.o-0{
    display: none;
}

.region_tal{
    display: none;
}
.region_right button{
    width: 160px;
    height: 50px;
    color: #5A95CB;
    background: #B2D4EF;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-top: 130px;
    /* filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25)); */
}
/* region section end */

/* vision section start */
.vision{
    background-color: #2D468D;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    color: #B2D3EF;
}
.vision_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 112px 100px 150px 64px;
}
.vision_left{
    max-width: 380px;
}
.vision_left p{
    margin-top: 20px;
}
.vision_title{
    font-size: 20px;
}
.vision_text{
    font-size: 16px;
}
.vision_left button{
    width: 160px;
    height: 50px;
    color: white;
    background: #FF8F2F;
    border-radius: 5px;
    border: none;
    margin-top: 60px;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}
/* vision section end */

/* testimal section start */
.testimal{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #2D468D;
    text-align: center;
    background-color: #F8F8F8;
}
.testimal_title{
    font-size: 20px;
    margin: 0;
    padding-top: 40px;
}

.testimal_main{
    display: grid;
    height: 100%;
    place-items: center;
    background: #F8F8F8;
}
.testimal_slider{
    max-width: 1100px;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.testimal_slider .card{
    flex: 1;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
}
.testimal_slider .card .img{
    height: 84px;
    width: 84px;
}
.testimal_slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 25px;
}
.testimal_slider .card .content{
    padding: 10px 35px;
}
.card .content .title{
    font-size: 16px;
    font-weight: 300;
    margin-top: 25px;
}
.card .content p{
    text-align: center;
    line-height: 20px;
    margin: 10px 0;
    font-size: 12px;
    font-weight: 300;
    margin-top: 40px;
}
.card_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 280px;
    height: 450px;
    box-shadow: 0 4px 25px rgba(45, 70, 141, 0.25), 4px 0 25px rgba(45, 70, 141, 0.25);
}
.testimal_prog{
    background-color: rgba(140, 140, 140, 0.2);
    width: 270px;
    height: 2px;
    margin: 50px 0;
}
.testimal_real{
    background-color: #FF8F2F;
    width: 90px;
    height: 2px;
}



/* moving section start */
.moving{
    background: #B2D4EF;
    text-align: center;
}
.moving_title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #2D468D;
    margin: 0;
    padding-top: 57px;
}
.moving_text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #2D468D;
    max-width: 744px;
    margin: 42px auto;
}
.moving button{
    width: 160px;
    height: 50px;
    color: white;
    font-size: 14px;
    background: #FF8F2F;
    border-radius: 5px;
    border: none;
    margin-bottom: 82px;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}
/* moving section end */

/* responsive design  */
@media(max-width:1023px){
    .hero{
        height: 100%;
    }
    .hero_content{
        flex-direction: column;
        justify-content: stretch;
        padding: 90px 40px 0 40px;
    }
    .hero_left{
        order: 2;
        width: 100%;
        margin-bottom: 86px;
    }
    .hero_right img{
        width: 100%;
    }
    .pain{
        display: flex;
        flex-direction: column;
    }
    .pain_video{
        order: 1;
        width: 100%;
    }
    .pain_title{
        order: 2;
        margin: 0;
        text-align: left;
        padding-bottom: 0;
        padding: 36px 40px 0 40px;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .pain_content{
        order: 3;
        width: calc(100% - 80px);
        text-align: left;
        margin: 0px auto;
        max-width: 100%;
        padding: 0 40px;
        margin-top: 20px;
    }
    .pain_btn{
        order: 4;
        text-align: left;
        width: calc(100% - 80px);
        padding: 0 40px;
    }
    .pain_btn button{
        margin: 50px 0;
    }
    .pain_video .pain_video_back{
        width: 100%;
    }

    .program_1, .program_2, .program_3{
        flex-direction: column;
        padding-bottom: 50px;
    }
    .programs_title{
        padding: 30px 0 40px 0;
    }
    .program_link{
        display: block;
    }
    .program_img{
        width: 100%;
    }
    .program_img img{
        width: 100%;
    }
    .program_1_right, .program_3_right{
        padding-left: 0;
        text-align: center;
        
    }
    .program_title{
        display: none;
    }
    .program_2_left{
        order: 2;
        text-align: center;
        max-width: 100%;
    }
    .region{
        margin-bottom: 0;
    }
    .region_title{
        margin-top: 21px;
    }
    .region_content{
        margin-top: 0;
    }
    .region_desk{
        display: none;
    }
    .region_tal{
        display: block;
        margin-top: 30px;
    }
    .region_right{
        max-width: none;
        padding-top: 20px;
    }
    .region_right button{
        margin: 40px 0 57px 0;
    }
    .region_right section{
        margin-top: 40px;
    }

    .vision_content{
        flex-direction: column;
        padding: 60px;
    }
    .vision_left{
        order: 2;
        max-width: 100%;
    }
    .vision_right img{
        width: 90%;
    }
    .wrap{
        width: auto;
    }
    .window{
        width: 650px;
    }

    .moving{
        padding: 0 30px;
    }

}
@media(max-width: 599px){
    .hero{
        height: 100%;
    }
    .hero_content{
        font-size: 18px;
        padding: 90px 20px 0 20px;
    }
    .hero_left{
        width: 100%;
        margin-bottom: 50px;
    }
    .hero_left p{
        font-size: 18px!important;
        line-height: 30px!important;
    }
    .hero_left p:nth-child(2){
        padding-bottom: 40px;
    }
    .hero_right img{
        width: 100%;
    }
    .pain_title{
        font-size: 16px;
        margin: 20px auto;
        width: calc(100% - 40px);
        padding: 0 20px;
        line-height: 25px;
    }
    .pain_content{
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    .pain button{
        margin: 39px 0 44px 0;
    }
    .pain_btn{
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    .programs_title{
        font-size: 16px;
    }
    .program_text{
        font-size: 12px;
        line-height: 22px;
    }
    .program_1, .program_2, .program_3{
        padding-bottom: 40px;
    }
    .program_link{
        font-size: 20px;
    }
    .programs_content{
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    .region_right button {
        margin: 45px 0;
    }

    .vision_content{
        padding: 20px 20px 0 20px;
    }
    .vision_left button{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .vision_title{
        font-size: 20px;
    }
    .vision_text{
        font-size: 12px;
    }
    .window{
        width: 328px;
    }

    .moving_title{
        font-size: 16px;
    }
    .moving_text{
        font-size: 12px;
    }
}