*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 100;
}
button:hover{
    cursor: pointer;
}
button:active{
   opacity: 0.9;
}
.header_top{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
}
.back img{
    width: 34px;
    padding-left: 76px;
}
header p{
    width: 100%;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #2D468D;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
}
.tabs{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: #2D468D;
    box-shadow: 0px 4px 4px rgba(45, 70, 141, 0.25);
}
.tabs_items{
    display: -webkit-inline-box;
    overflow-x: auto;
}
.tabs a{
    text-decoration: none;
    white-space: nowrap;
    color: #2D468D;
}
.tabs div{
    padding: 2px 20px;
    /* width: 140px; */
}
.tabs div:nth-child(5){
    position: relative;
}
.tabs div:nth-child(5) span{
    position: absolute;
    content: "";
    padding: 4px;
    background-color: #FF8F2F;
    border-radius: 50%;
}

/* stats and history section  */
.sta_his{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #2D468D;
    padding-bottom: 70px;
}
.stahis_content{
    padding: 0 65px;
    display: flex;
}
.stats{
    margin-right: 65px;
    width: 100%;
}
.stats_title, .history_title{
    margin-top: 26px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.total_stages{
    background-color: #fff;
}
.stage_title{
    padding-top: 28px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #2D468D;
}
.stage_main{
    padding-top: 76px;
    padding-bottom: 57px;
    font-size: 36px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2D468D;
}
.indicator_div{
    height: 140px;
    display: flex;
    justify-content: center;
}
.indicator span {
    position: absolute;
    line-height: 140px;
    width: 140px;
    text-align: center;
    display: block;
    z-index: 4;
    font-size: 36px;
    color: #2D468D;
}

.value-bar{
    background-color: #FF8F2F;
    position: absolute;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    clip: rect(0px 66px 140px 0px);
    transform: rotate(90deg);
    z-index: 3;
}
.left-half{
    background-color:gray;
    position:absolute;
    width:400px;
    height:400px;
    border-radius:50%;
    clip: rect(0px 200px 500px 0px);
    z-index:3;
}
.right-half{
    background-color:gray;
    position:absolute;
    width:400px;
    height:400px;
    border-radius:50%;
    clip: rect(0px 400px 500px 200px);
    z-index:3;
}
.centr{
    background-color: gray;
    width: 132px;
    height: 132px;
    border-radius: 100%;
    margin: 4px 4px;
    position: absolute;
    z-index: 2;
}
.centr.over50 .left-half{
    position: absolute;
    clip: rect(0, 132px, 132px, 66px);
    background-color: #FF8F2F;
    border-radius: 50%;
    width: 132px;
    height: 132px;
}
.centrV{
    background-color: white;
    width: 124px;
    position: absolute;
    height: 124px;
    border-radius: 50%;
    margin: 8px 8px;
    z-index: 3;
}


.stage_text{
    padding-top: 15px;
    padding-bottom: 26px;
    padding: 15px 70px 26px 70px;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #2D468D;
    max-width: 246px;
}
.days_exe{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.total_days{
    width: 48%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.days_title, .exe_title{
    padding-top: 20px;
    font-size: 14px;
    line-height: 25px;
    color: #2D468D;
}
.days_number, .exe_number{
    padding-top: 14px;
    padding-bottom: 20px;
    font-size: 32px;
    line-height: 25px;
    text-align: center;
    color: #2D468D;
}
.total_exe{
    width: 48%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.history{
    width: 100%;
    margin-left: 65px;
}
/* calendar style start */
a ul {
list-style-type: none;
margin: 0;
padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.left {
float: left;
}
.right {
float: right;
}
.monthname {
width: 18em;
}
.pointer {
cursor: pointer;
user-select: none;
}
.header {
padding: 15px 0;
display: flex;
}
.minusmonth img, .addmonth img{
    width: 24px;
}
.group:after {
content: "";
display: table;
clear: both;
}
.calendar p {
line-height: 1.5em;
margin: 0;
color: #2D468D;
}
.calendar {
background: #fff;
color: #777;
padding: 30px;
width: auto;
height: 355px;
background: #F8F8F8;
}
.calendar li {
float: left;
width: calc(100% / 7);
text-align: center;
padding: 12px 0;
cursor: pointer;
color: #2D468D;
}
.calendar li.empty {
pointer-events: none;
}
.calendar li:hover {
color: #2D468D;
}
.calendar li.active, .calendar li.active:hover {
background-color: #FF8F2F;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
color: #fff;
}
.calendar li:nth-child(-n+6) {
color: #2D468D;
}


.date_popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(45, 70, 141, 0.5);
    backdrop-filter: blur(50px);
}
.date_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.popup_title{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}
.popup_text{
    margin-top: 17px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.popup_row{
    display: flex;
    margin-top: 40px;
}
.popup_row .popup_item:nth-child(2){
    margin-left: 50px;
}
.first_row{
    margin-top: 80px;
}
.popup_item{
    display: flex;
    width: 150px;
}
.popup_item img{
    width: 25px;
}
.popup_item p{
    font-size: 20px;
    line-height: 25px;
    margin-left: 10px;
}
.exit{
    margin-top: 135px;
    width: 160px;
    height: 50px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    background: #FF8F2F;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 25px;
    border: none;
}
.rewatch{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 25px;
}

/* your booking  section*/
.booking{
    height: 100%;
    background-color: #2D468D;
    padding-bottom: 100px;
}
.booking_content{
    padding: 0 65px;
    margin-bottom: 60px;
}
.book_bal{
    display: flex;
}
.book{
    width: calc(50% - 65px);
    margin-right: 65px;
}
.book_title{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.booking_main{
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    padding-top: 30px;
    padding-bottom: 250px;
}
.booking_main p{
    padding-left: 25px;
    font-size: 14px;
    line-height: 22px;
    color: #2D468D;
}
.your_balance{
    background-color: #5A95CB;
}
.your_balance .booking_content{
    display: flex;
    color: white;
    padding: 46px 0px;
}
.your_balance .image, .your_balance_main{
    width: 50%;
}
.your_balance .image img{
    height: 100%;
    width: 200px;
}
.your_balance_main{
    margin: auto;
    line-height: 4;
}
.your_balance_main button{
    background: #FF8F2F;
    color: #fff;
    box-shadow: 0px 4px 25px rgb(0 0 0 / 25%);
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 25px;
    width: 160px;
    height: 50px;
    border: 1px solid #FF8F2F;
    border-radius: 5px;
}
.your_balance_main .title{
    font-size: 20px;
}
.your_balance_main .content{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 30px;
}
.your_balance_main img{
    display: none;
    width: 200px;
}
.your_balance_main .price{
    font-size: 24px;
}
.balance{
    width: calc(50% - 65px);
    margin-left: 65px;
}
.bal_title{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.balance_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}
.bal_text{
    margin: 30px 20px 20px 20px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #2D468D;
}
.bal_avail{
    margin-top: 25px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2D468D;
    padding-bottom: 150px;
}
.bal_avail span{
    padding-left: 10px;
    color: #FF8F2F;
    font-weight: bold;
}
.balance_main button{
    width: 160px;
    height: 50px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border: none;
    background: #FF8F2F;
    border-radius: 5px;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    margin-top: 42px;
    margin-bottom: 74px;
}

.balance_title{
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF
}
.balance_text{
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.member_items{
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.member_items div:first-child{
    box-shadow: 0px 4px 25px rgba(45, 70, 141, 0.25);
}
.member_items div:first-child button{
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    background: #FF8F2F;
    color: #fff;
}
.member_card{
    margin-left: 20px;
    padding: 13px 16px;
    min-width: 209px;
    min-height: 512px;
    background: #F8F8F8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member_card img{
    height: 45px;
}
.mem_name{
    margin-bottom: 13px;
    font-size: 11px;
    line-height: 35px;
    text-align: center;
    color: rgba(45, 70, 141, 0.5);
}
.mem_cardname{
    margin-top: 15px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #2D468D;
}
.mem_cardunit{
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 35px;
    color: #2D468D;

}
.member_card button{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 25px;
    width: 160px;
    height: 50px;
    background-color: #F8F8F8;
    color: #FF8F2F;
    border: 1px solid #FF8F2F;
    border-radius: 5px;
}
.mem_cardtext{
    margin-top: 20px;
    width: 100%;
    display: flex;
    font-size: 12px;
}
.mem_cardtext img{
    width: 24px;
    height: 24px;
}
.mem_cardtext span{
    margin-left: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #2D468D;
}
.mem_cardtext span b{
    font-weight: bold;
}
.card_ruby, .card_plus{
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}
.card_gold button{
    background: #B2D4EF;
    color: #5A95CB;
    border: none;
}
.card_gold, .card_silver{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}
.card_gold .mem_name, .card_silver .mem_name{
    color: rgba(255, 255, 255, 0.5);
}
.card_gold .mem_cardname, .card_gold .mem_cardunit, .card_silver .mem_cardname, .card_silver .mem_cardunit{
    color: #fff;
}
.card_gold .mem_cardtext span, .card_silver .mem_cardtext span{
    color: #fff;
}
.card_silver button{
    background: transparent;
}

/* stage1 section */
.stage1_top{
    color: #B2D4EF;
    text-align: center;
    background-color: #2D468D;
}
.stage1_top p:first-child{
    padding-top: 38px;
    font-size: 22px;
    line-height: 25px;
}
.stage1_top p:nth-child(2){
    padding-top: 20px;
}
.stage1_top p:nth-child(3){
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 37px;
    padding-bottom: 55px;
}
.stage1_top p{
    font-size: 16px;
    line-height: 22px;
}

.stage1 .day1{
    background-color: white;
}
.day1 .container{
    position: relative;
}
.day1_title{
    padding-top: 35px;
    padding-left: 64px;
    color: rgba(45, 70, 141, 0.8);
    font-size: 20px;
    line-height: 25px;
}
.day1_items{
    margin: 27px 64px ;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
}
.day1_items::-webkit-scrollbar{
    display: none;
}
.day1_item{
    width: 284px;
    margin-right: 22px;
}
.exe_video{
    position: relative;
    background: rgba(90, 149, 203, 0.6);
}
.exe_video img:first-child{
    position: relative;
    display: block;
    width: 284px;
}
.exe_video img:nth-child(2){
    width: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px;
    border-radius: 50%;
}
.exe_video p{
    position: absolute;
    padding: 2px 10px;
    background: rgba(45, 70, 141, 0.8);
    border-radius: 2px;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 12px;
    line-height: 20px;
}
.exe_text p:first-child{
    padding-top: 17px;
    font-size: 14px;
    line-height: 20px;
    color: #2D468D;
}
.exe_text p:nth-child(2){
    padding-top: 12px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #2D468D;
}
.day1_next{
    position: absolute;
    right: 38px;
    top: 152px;
    width: 40px;
    height: 40px;
    background: #FF8F2F;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.day1_next:active{
    opacity: 0.9;
}
.day1_next img{
    width: 16px;
}
/* stage2 section */
.day2 .container{
    position: relative;
}
.day2_title{
    padding-top: 23px;
    padding-left: 64px;
    color: rgba(45, 70, 141, 0.8);
    font-size: 20px;
    line-height: 25px;
}
.day2_items{
    margin: 27px 64px ;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
}
.day2_items::-webkit-scrollbar{
    display: none;
}
.day2_next{
    position: absolute;
    right: 38px;
    top: 152px;
    width: 40px;
    height: 40px;
    background: #FF8F2F;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.day2_next:active{
    opacity: 0.9;
}
.day2_next img{
    width: 16px;
}
/* stage3 section  */
.stage3 .day1 .day1_items .day1_item:nth-child(2) img:nth-child(2){
    padding: 0;
    width: 56px;
    background: none;
}
.video_len{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: rgba(45, 70, 141, 0.3);
}
.video_play{
    width: 200px;
    background-color: #FF8F2F;
    height: 7px;
}
.stage3 .day1 .day1_item:nth-child(3) .exe_video img:nth-child(2), .stage3 .day1 .day1_item:nth-child(4) .exe_video img:nth-child(2), .stage3 .day2 .day1_item .exe_video img:nth-child(2){
    background: none;
    width: 56px;
}
.stage3 .day1 .day1_item:nth-child(3) .exe_video img:first-child, .stage3 .day1 .day1_item:nth-child(4) .exe_video img:first-child, .stage3 .day2 .day1_item .exe_video img:first-child{
    z-index: -1;
}

/* stage4 section  */
.stage4 .exe_video img:nth-child(2){
    background: none;
    width: 56px;
}
.stage4 .exe_video img:first-child{
    z-index: -1;
}

@media(max-width:1023px){
    .back img{
        padding-left: 48px;
    }
    .stahis_content{
        flex-direction: column;
    }
    .stats{
        margin-right: 0;
    }
    .history{
        margin-left: 0;
    }
    .sta_his{
        height: auto;
    }
    .booking_content{
        padding: 0 43px;
    }
    .book_bal{
        flex-direction: column;
        align-items: center;
    }
    .book{
        margin-right: 0;
        width: auto;
    }
    .booking_main{
        width: 384px;
    }
    .balance{
        margin-left: 0;
        margin-top: 47px;
        width: auto;
    }
    .bal_title{
        margin-top: 0px;
    }
    .your_balance{
        padding: 0 43px;
    }
    .your_balance .image{
        width: 0%;
    }
    .your_balance .your_balance_main{
        width: 100%;
        text-align: center;
    }
    .your_balance_main img{
        display: block;
        margin: auto;
    }
    .your_balance .image img{
        display: none;
    }
    .balance_main{
        width: 384px;
    }
    .member_items{
        overflow-x: auto;
    }
    .balance_title{
        margin-top: 88px;
    }

    .stage1_top p:nth-child(3){
        padding-right: 40px;
        padding-left: 40px;
    }
    .day1_title{
        padding-top: 40px;
        padding-left: 40px;
    }
    .day1_items{
        margin: 27px 0 0 40px;
    }
    .day2_title{
        padding-top: 50px;
        padding-left: 40px;
    }
    .day2_items{
        margin: 27px 0 0 40px;
    }
}
@media(max-width: 710px){
    .tabs{
        justify-content: space-between;
        overflow-x: scroll;
    }
}
@media(min-width:900px){
    .member_items, .your_balance .booking_content{
        max-width: 785px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width:599px){
    .header_top{
        height: 88px;
    }
    .back img{
        padding-left: 20px;
    }
    header p{
        font-size: 16px;
        line-height: 50px;
    }
    .calendar{
        width: auto;
        padding: 20px;
    }
    .stahis_content{
        padding: 0 20px;
        width: calc(100% - 40px);
    }
    .date_popup{
        padding-top: 40px;
    }
    .popup_title{
        font-size: 20px;
    }
    .popup_text{
        font-size: 12px;
    }
    .popup_row{
        flex-direction: column;
    }
    .popup_row .popup_item:nth-child(2) {
        margin-left: 40px;
        margin-top: 40px;
    }
    .popup_item{
        margin-left: 40px;
    }
    .popup_item p{
        font-size: 14px;
    }
    .first_row{
        margin-top: 40px;
    }
    .exit{
        margin-top: 40px;
    }

    .booking_content{
        padding: 0 20px;
    }
    .book, .booking_main, .balance, .balance_main{
        width: 100%;
    }
    .book_title, .bal_title{
        font-size: 18px;
    }
    .booking_main{
        padding-bottom: 450px;
    }
    .bal_text{
        margin-top: 40px;
    }
    .balance_title{
        margin-top: 57px;
        font-size: 18px ;
    }
    .balance_text{
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .bal_avail{
        padding-bottom: 350px;
    }
    .your_balance{
        padding: 0 20px;
    }

    .stage1_top p:first-child {
        padding-top: 20px;
        font-size: 18px;
        line-height: 50px;
    }
    .stage1_top p:nth-child(2) {
        padding-top: 18px;
    }
    .stage1_top p:nth-child(3) {
        font-size: 12px;
        line-height: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 30px;
    }
    .day1_title {
        font-size: 18px;
        padding-top: 34px;
        padding-left: 20px;
    }
    .day1_items{
        margin: 20px 20px 0 20px;
        flex-direction: column;
    }
    .day1_item{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 18px;
    }
    .exe_video{
        width: 50%;
        margin-right: 10px;
    }
    .exe_video img:first-child{
        width: 100%;
    }
    .exe_video img:nth-child(2){
        width: 13px;
    }
    .exe_video p{
        font-size: 8px;
        line-height: 20px; 
        padding: 0 4px;
    }
    .exe_text{
        width: 50%;
        margin-left: 10px;
    }
    .exe_text p:first-child{
        font-size: 12px;
        padding-top: 0;
    }
    .exe_text p:nth-child(2){
        font-size: 8px;
        padding-top: 0;
    }
    .day1_next{
        display: none;
    }
    
    .day2_title {
        font-size: 18px;
        padding-top: 16px;
        padding-left: 20px;
    }
    .day2_items{
        margin: 20px 20px 0 20px;
        flex-direction: column;
    }
    .day2_next{
        display: none;
    }
    .stage3 .day1 .day1_items .day1_item:nth-child(2) img:nth-child(2){
        width: 37px;
    }
    .video_play{
        width: 70%;
    }
    
    .stage3 .day1 .day1_item:nth-child(3) .exe_video img:nth-child(2), .stage3 .day1 .day1_item:nth-child(4) .exe_video img:nth-child(2), .stage3 .day2 .day1_item .exe_video img:nth-child(2){
        width: 37px;
    }
    .stage4 .exe_video img:nth-child(2){
        width: 37px;
    }
}